@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 40 55% 95%;
    --foreground: 40 5% 10%;
    --card: 40 50% 90%;
    --card-foreground: 40 5% 15%;
    --popover: 40 55% 95%;
    --popover-foreground: 40 95% 10%;
    --primary: 40 49% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 2 30% 85%;
    --muted-foreground: 40 5% 40%;
    --accent: 2 30% 80%;
    --accent-foreground: 40 5% 15%;
    --destructive: 0 55% 40%;
    --destructive-foreground: 40 5% 90%;
    --border: 40 30% 50%;
    --input: 40 30% 40%;
    --ring: 40 49% 34%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 40 50% 10%;
    --foreground: 40 5% 90%;
    --card: 40 50% 10%;
    --card-foreground: 40 5% 90%;
    --popover: 40 50% 5%;
    --popover-foreground: 40 5% 90%;
    --primary: 40 49% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 2 30% 25%;
    --muted-foreground: 40 5% 60%;
    --accent: 2 30% 25%;
    --accent-foreground: 40 5% 90%;
    --destructive: 0 55% 40%;
    --destructive-foreground: 40 5% 90%;
    --border: 40 30% 40%;
    --input: 40 30% 40%;
    --ring: 40 49% 34%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
